[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim/bundle/railscasts"]
	path = vim/bundle/railscasts
	url = https://github.com/jpo/vim-railscasts-theme
[submodule "vim/bundle/less"]
	path = vim/bundle/less
	url = https://github.com/lunaru/vim-less.git
[submodule "vim/bundle/django.vim"]
	path = vim/bundle/django.vim
	url = https://github.com/vim-scripts/django.vim.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim
[submodule "vim/bundle/snipmate-symfony"]
	path = vim/bundle/snipmate-symfony
	url = https://github.com/soh335/vim-symfony-snipmate.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/phpdoc"]
	path = vim/bundle/phpdoc
	url = https://github.com/vim-scripts/PDV--phpDocumentor-for-Vim.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/acp"]
	path = vim/bundle/acp
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "vim/bundle/ropevim"]
	path = vim/bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
[submodule "vim/bundle/lusty_juggler"]
	path = vim/bundle/lusty_juggler
	url = https://github.com/strycore/LustyJuggler.git
[submodule "vim/bundle/indentpython"]
	path = vim/bundle/indentpython
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/snipmate-snippets"]
	path = vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "vim/bundle/pysmell.vim"]
	path = vim/bundle/pysmell.vim
	url = https://github.com/webframp/pysmell.vim.git
[submodule "vim/bundle/flake8"]
	path = vim/bundle/flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim/bundle/NERD-tree"]
	path = vim/bundle/NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vim/bundle/vim-symfony"]
	path = vim/bundle/vim-symfony
	url = https://github.com/soh335/vim-symfony.git
