/************************ Add USER code BELOW this line *********************/










/************************ Add USER code ABOVE this line *********************/

/************ Fixes Color of Input/Entry Boxes within Web-Pages **************/
/*remove if you would like dark-gray input boxes in web-pages, or change to your liking*/
input {
    -moz-appearance: none !important;
    background-color: #Fff !important;
    color: #000 !important;
}

textarea {
    -moz-appearance: none !important;
    background-color: #Fff !important;
    color: #000 !important;
}

/*************************** THEME Below this line ***************************/
/****************************** Page background ******************************/
*/*|*:root {
  -moz-appearance: none!important;
  background-color:  rgb(32,32,32)!important;
  background-repeat: repeat!important;
  color: WindowText;
}*/
/* Background for blank tab and Firefox startup blank page
before homepage loads...
see userChrome.css for background before clicked link page loads */
@-moz-document  url(about:blank) {
html { background-color: rgb(32,32,32) !important; }}

/********************************** Start Page *******************************/

@-moz-document  url(about:home) {
body { background-color: rgb(32,32,32) !important;
  background:url("images/WindowBg-dark.png") repeat!important;
 }}

@-moz-document  url(about:home) {
div#snippets { color:#7b7b7b !important;
text-shadow: rgba(0,0,0,0.65) 0px -1px 0px !important;
 }}

@-moz-document  url(about:home) {
div#snippets a:link { color:rgb(0,148,235) !important;
text-shadow: rgba(0,0,0,0.65) 0px 0px 2px !important;
 }}

@-moz-document  url(about:home) {
div#snippets a:hover { color:rgb(0,182,255) !important;
text-shadow: rgba(0,0,0,0.85) 0px 0px 2px !important;
 }}

@-moz-document  url(about:home) {
div#launcher { background-color: rgb(32,32,32) !important;
  background-image: -moz-linear-gradient(rgba(255,255,255,.04), rgba(0,0,0,0.0) 49%, rgba(0,0,0,0.0)51%, rgba(0,0,0,0.2)) !important;
border-top: 1px solid rgba(0,0,0,0.45)!important;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.22) inset!important;
 }}

@-moz-document  url(about:home) {
div#launcher button{ 
background-color: transparent !important;
border:2px solid !important;
  -moz-border-top-colors: rgba(0,0,0,0.32) rgba(255,255,255,.06) !important;
  -moz-border-right-colors:  rgba(255,255,255,.06) rgba(0,0,0,.3) !important;
  -moz-border-bottom-colors: rgba(255,255,255,.04) rgba(0,0,0,.38) !important;
  -moz-border-left-colors: rgba(0,0,0,0.3) rgba(255,255,255,.03) !important;  
  color: #7b7b7b !important;
text-shadow: rgba(0,0,0,0.65) 0px -1px 0px !important;
 }}

@-moz-document  url(about:home) {
div#launcher button:hover{ background-color: rgba(0,0,0,0.2) !important;
border:2px solid !important;
  -moz-border-top-colors: rgba(0,0,0,0.65) rgba(0,0,0,0.4) !important;
  -moz-border-right-colors:  rgba(255,255,255,.06) rgba(0,0,0,.4) !important;
  -moz-border-bottom-colors: rgba(255,255,255,.12) rgba(0,0,0,.45) !important;
  -moz-border-left-colors: rgba(0,0,0,0.65) rgba(0,0,0,0.4) !important;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.18) inset!important;
  color: #ffffff !important;
 }}

@-moz-document  url(about:home) {
#searchText { 
  color: #a6a6a6 !important;
  border: 1px solid rgba(0,0,0,.75) !important;
  border-right: 0px !important;
  border-radius: 5px 0px 0px 5px!important;
 box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px rgba(255, 255, 255, 0.15) !important;
  padding: 3px !important;
  background: #3c3c3c
              -moz-linear-gradient(rgba(0,0,0,.16), 
                                   rgba(0,0,0,.02)) !important;
  margin: 0px !important;
  margin-bottom: 1px !important;
-moz-background-clip: padding; 
 }}

@-moz-document  url(about:home) {
#searchText:focus { 
  color: #dbdbdb !important;
  border-top: 1px solid rgb(9,9,9) !important;
  border-left: 1px solid rgb(12,12,12) !important;
  border-right: 0px solid rgba(12,12,12,0.0) !important;
  border-bottom: 1px solid rgb(18,18,18) !important;
  background:  #4c4c4c
              -moz-linear-gradient(rgba(0,0,0,.16), 
                                   rgba(0,0,0,.02)) !important;
  -moz-transition: .30s ease-in !important;
    box-shadow: 0px 2px 4px  rgba(0,0,0,0.6) inset, 
				0px 0px 2px 1px  rgba(0,106,168, 0.8) inset,
			  0px 1px 0 rgba(255,255,255,.15) !important;
-moz-background-clip: padding; 
 }}

@-moz-document  url(about:home) {
#searchSubmit { 
  color: #dbdbdb !important;
  border: 1px solid rgba(0,0,0,.75) !important;

  border-radius: 0px 17px 17px 0px!important;
  box-shadow:  1px 1px 1px 0px rgba(255,255,255,0.16) inset, 0px 1px 0px rgba(255, 255, 255, 0.15) !important;
  padding: 3px !important;
  padding-right: 5px !important;
  background: rgb(0,106,168)
              -moz-linear-gradient(rgba(255,255,255,.16), 
                                   rgba(0,0,0,.02)) !important;
  margin: 0px !important;
  margin-bottom: 1px !important;
  -moz-background-clip: padding!important; 
  text-shadow: rgba(0,0,0,0.4) 0px -1px 2px !important;
 }}


@-moz-document  url(about:home) {
#searchSubmit:hover { 
  color: #ffffff !important;
  box-shadow:  1px 1px 1px 0px rgba(255,255,255,0.21) inset, 0px 1px 0px rgba(255, 255, 255, 0.15) !important;
  padding: 3px !important;
  padding-right: 5px !important;
  background: rgb(0,106,168)
              -moz-linear-gradient(rgba(255,255,255,.21), 
                                   rgba(0,0,0,.06)) !important;
  margin: 0px !important;
  margin-bottom: 1px !important;
  -moz-background-clip: padding!important; 
  text-shadow: rgba(0,0,0,0.65) 0px -1px 2px !important;
 }}

@-moz-document  url(about:home) {
#searchSubmit:active,
#searchSubmit:active:hover { 
  color: #8b8b8b !important;
border-left:  1px solid rgba(0,0,0,.55) !important;
  box-shadow:  1px 2px 6px 3px rgba(0,0,0,0.26) inset, 0px 1px 0px rgba(255, 255, 255, 0.15) !important;
  padding: 3px !important;
  padding-right: 5px !important;
  background: rgb(0,90,143)
              -moz-linear-gradient( rgba(0,0,0,.2),rgba(255,255,255,.16)) !important;
  margin: 0px !important;
  margin-bottom: 1px !important;
  -moz-background-clip: padding!important; 
  text-shadow: rgba(0,0,0,0.65) 0px -1px 2px !important;
 }}

/***************************** Add-ons Manager ********************************/
#addons-page {
  -moz-appearance: none!important;
  background:  rgb(32,32,32)!important;
  background-image: -moz-linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,0.12) 51%, rgba(0,0,0,0.3)) !important;
  color: WindowText!important!
}
 
#view-port-container {
  /* Needed to allow the radius to clip the inner content, see bug 595656 */
  -moz-appearance: none !important;
  overflow: hidden!important;
  background: url("images/WindowBg-dark.png") repeat!important;
  width:500px !important;
  height:500px !important;
  color: #dbdbdb !important;
  border:2px solid !important;
  -moz-border-top-colors: rgb(43,43,43) rgba(0,0,0,.8) !important;
  -moz-border-right-colors: rgba(0,0,0,.03) rgba(255,255,255,.16) !important;
  -moz-border-bottom-colors: rgba(0,0,0,.03) rgba(255,255,255,.16) !important;
  -moz-border-left-colors: rgb(41,41,41) rgba(0,0,0,.8) !important;
  border-radius: 5px !important;
   box-shadow: 2px 3px 7px rgba(0,0,0,.5)inset !important;
}

.category[selected],
#categories richlistitem[selected="true"] {
  background: #0a0a0a !important;
  border-top: 2px solid !important;
  -moz-border-top-colors: rgb(31,31,31) rgba(0,0,0,.85) !important;
  border-right: 0px !important;
  border-left: 2px solid !important;
  -moz-border-left-colors: rgb(41,41,41) rgba(0,0,0,.65) !important;
  border-bottom: 2px solid !important;
  -moz-border-bottom-colors:  rgba(255,255,255,.14) rgba(0,0,0,.8)!important;
  color: rgb(0,148,235) !important;
  font-weight: bold !important;
  box-shadow: 1px 1px 3px rgba(0,0,0,.45)inset !important;
}

#categories richlistitem{
  color: #cbcbcb !important;
}

#categories richlistitem:hover{
  color: white !important;
}

#categories richlistitem[selected="true"]:hover {
  color: #00aaff !important;
}

#header-search {
  -moz-appearance: none !important;
  color: #a6a6a6 !important;
  border: 1px solid rgba(0,0,0,.75) !important;
  border-radius: 5px 17px 17px 5px!important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px rgba(255, 255, 255, 0.15) !important;
  padding: 3px !important;
  background-color: #4c4c4c !important;
  margin: 0px !important;
  margin-bottom: 1px !important;
}

#header-search input {
    -moz-appearance: none !important;
    background-color: #4c4c4c !important;
    color: #dbdbdb !important;
}

#header-search textarea {
    -moz-appearance: none !important;
    background-color: #4c4c4c !important;
    color: #dbdbdb !important;
}

.view-header {
  background: rgb(36,36,36) -moz-linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2) 75%) !important;
  border-top: 1px solid rgba(255,255,255,0.1) !important;
  padding: 4px !important;
  margin: 0 !important;
  min-height: 31px !important;
}

#search-filter {
  padding: 5px 20px !important;
  font-size: 120% !important;
  background: rgb(32,32,32) -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) 75%) !important;
  overflow-x: hidden !important;
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.12), 0px 3px 7px rgba(0, 0, 0, 0.5) !important;
}

.addon {
  color: #cbcbcb !important;
  border-top: 1px solid rgba(255, 255, 255, 0.06) !important;
}

.addon:hover,
.addon[active="false"]:hover {
  background:  rgba(0,0,0,0.2) !important;
  border-top: 1px solid rgba(0,0,0, 0.45)!important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.18) inset!important;
}

.addon[selected] {
  background: #0a0a0a !important;
  color: #d2d2d2 !important;
  border-top: 1px solid rgba(3, 3, 3, 1)!important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset!important;
  -moz-transition: .2s ease-in;
}

.addon[selected]:hover {
  color: #f8f8f8 !important;
}

.view-pane:not(#search-view) .addon:last-of-type,
#search-view .addon[last] {
  border-bottom: 2px solid !important;
  -moz-border-bottom-colors: rgba(255, 255, 255, 0.08) rgba(0, 0, 0, 0.32) !important;
}

.view-pane:not(#search-view) .addon[active="false"]:last-of-type,
#search-view .addon[active="false"][last] {
  border-bottom: 2px solid !important;
  -moz-border-bottom-colors: rgba(255, 255, 255, 0.01) rgba(0, 0, 0, 0.42) !important;
}

.addon[selected="true"] .name-container{
  color: rgb(0,148,235) !important;
}

.addon[selected="true"]:hover .name-container{
  color: #00aaff !important;
}

.addon-view[active="false"] {
  background:  rgba(255,255,255,0.02) !important;
}

.addon-view[active="false"],
.addon-view[active="false"] .name-container {
  color: #676f74 !important;
}

.header-button {
  -moz-appearance: none !important;
  margin: 0px 5px !important;
  min-width: 6.3em !important;
  border-radius: 2px !important;
  border: 1px solid !important;
  border-color: rgba(12,12,12,1) rgba(8,8,8,1) rgba(3,3,3,1) !important;
  box-shadow:  0px 1px 1px rgba(255, 255, 255, 0.05) inset, 0px 1px 0px rgba(255, 255, 255, 0.12) !important;
  background:  rgba(30,30,30,1)
               -moz-linear-gradient(rgba(30,30,30,1), rgba(28,28,28,1) 39%, 
                                   rgba(27,27,27,1) 41%, rgba(22,22,22,1)) !important;
  color: #dbdbdb !important;
  text-shadow: none !important;
}

.header-button[disabled="true"] {
  color: #676f74 !important;
  background: transparent !important;
  }

.header-button:not([open="true"]):not([disabled="true"]):not(:active):hover {
background:  rgba(22,22,22,1)
               -moz-linear-gradient(rgba(26,26,26,1), rgba(24,24,24,1) 39%, 
                                   rgba(23,23,23,1) 41%, rgba(20,20,20,1)) !important;
  border-color: rgba(8,8,8,1) rgba(6,6,6,1) rgba(0,0,0,1) !important;
  box-shadow:  0px 1px 1px rgba(255, 255, 255, 0.03) inset, 0px 1px 2px rgba(0,0,0, 0.26) !important;
  color: #ffffff!important;
}

/******************************** New Tab Window *****************************/
#newtab-scrollbox,
#newtab-scrollbox[page-disabled="true"]
{
    background-color: rgb(32,32,32) !important;
    background: url("images/WindowBg-dark.png") repeat !important;
    background-attachment: fixed !important;
}

.newtab-cell {
  -moz-margin-end: 20px !important;
  background-color: rgba(0,0,0,.2) !important;
  border: 1px solid transparent !important;
  border-radius: 1px !important;
  -moz-transition: border-color 100ms ease-out !important;
}

.newtab-cell:hover:not(:empty) {
  box-shadow: 0px 0px 7px rgba(0,0,0,0.65) !important;
  border: 1px solid rgb(0,148,235) !important;
  -moz-transition: .2s ease-out;
}

.newtab-site:hover,
.newtab-site[dragged] {
  box-shadow: 0px 0px 7px rgba(0,106,168,.6)!important;
}

.newtab-site[dragged] {
  -moz-transition-property: box-shadow, background-color;
  background-color: rgba(76,76,76,.65)!important;
}

.newtab-title {
  padding: 0 8px!important;
  background-image: -moz-linear-gradient(rgb(58, 58, 58),rgb(52, 52, 52))!important;
  box-shadow: 0px 0px 1px rgba(255,255,255,.15)inset, 0px 0px rgba(4, 4, 4, 1) inset!important;
  color: #dbdbdb !important;
  line-height: 24px!important;
}

.newtab-control {
  width: 24px !important;
  height: 24px !important;
  padding: 1px 2px 3px !important;
  border: none !important;
  background: transparent url(chrome://browser/skin/newtab/controls.png) !important;
}

.newtab-control-pin:hover {
  background-position: -24px 0!important;
}

.newtab-control-pin:active {
  background-position: -48px 0!important;
}

.newtab-control-pin[pinned] {
  background-position: -72px 0!important;
}

.newtab-control-pin[pinned]:hover {
  background-position: -96px 0!important;
}

.newtab-control-pin[pinned]:active {
  background-position: -120px 0!important;
}

.newtab-control-block {
  background-position: -144px 0!important;
}

.newtab-control-block:hover {
  background-position: -168px 0!important;
}

.newtab-control-block:active {
  background-position: -192px 0!important;
}

#newtab-toggle {
  width: 16px!important;
  height: 16px!important;
  padding: 0!important;
  border: none!important;
  background: -216px 0 transparent url(chrome://browser/skin/newtab/controls.png)!important;
}

#newtab-toggle[page-disabled] {
  background-position: -232px 0!important;
}

